*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}
/* header */
header{
    background-color: rgb(64, 249, 255);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    border-radius: 1em;
    margin-bottom: 1em;
}

h1{
    color: white;
    padding: 0.5em;
}
/* input */
.input{
    border: 1px solid grey;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    width: 40%;
}

.input input{
    border-style: none;
    outline: none;
    color: rgb(16, 115, 207);
}

.input i{
    font-size: 1.5em;
    background-color: rgb(16, 115, 207);
    border-radius: 50%;
    color: white;
    padding: 5px;
}

/* container to do */
.containerToDo{
    display: flex;
    border: 1px solid gray;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0;
}

.containerToDo i {
    margin: 0 1em;
    font-size: 1.5em;
}

.containerToDo i.fa-check-circle{
    color: greenyellow;
}

.containerToDo i.fa-times-circle{
    color: rgb(207, 44, 44);
}

.containerToDo .lineThrough  {
    text-decoration: line-through;
}

.none {
    display: none;
}
